html {
    background-color: white;
    font-family: helvetica;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: block;
    margin: 0 auto;
}

.wood {
    width: 100%;
    height: 250px;
    z-index: -1;
}

.logo-container {
    position: relative;
    align-items: center;
}

#logo {
    position: absolute;
    top: 1px;
    width: 100%;
    margin-right: auto;
}


/*MAIN INDHOLD*/

/*INTRO VIDEO*/
.video-container {
    width: 100%;
}

.video {
    width: 100%;
}

/*INTRO TEKST*/

.intro-tekst {
    text-align: center;
    /*border-style: outset;*/
}

/* SLIDESHOW*/

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

/* frem og tilbage knap */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* sætter frem knappen til højre */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* piletasterne får ved hover her en lille smule transparens */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* billede tekst */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* billede nummer eks. 1/3 osv */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* prikker i bunden der indikerer hvilket billede man er på */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fade af billeder - animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*FOOTER*/

footer {
    padding: 10px 0 10px 0;
    background: #22262a;
    color: white;
    text-align: center;
}

h3 {
    font-size: 25px;
}

#pin {
    width: 30px;
}

#map {
    margin-bottom: 20px;
}

#tlf {
    width: 50px;
}

.kontakt {
    width: 75px;
    padding: 0 30px;
}

.arrow {
    width: 40px;
    position: relative;
    left: -350px;
    -webkit-animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}



.arrow2 {
    width: 40px;
    position: relative;
    left: 350px;
    -webkit-animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
    animation: scale-up-ver-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-2-19 14:3:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes scale-up-ver-bottom {
    0% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}


/* Extra small devices (phones, 600px and down) KUN HELT SPECIFIKT FOR MOBIL SOM IKKE KAN STÅ HEROVER */
@media only screen and (max-width: 599px) {
    .logo-container {
        position: relative;
        align-items: center;
    }

    #logo {
        position: absolute;
        top: 30px;
        width: 375px;
        margin-left: 15%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo-container {
        position: relative;
        align-items: center;
    }

    #logo {
        position: absolute;
        top: 30px;
        width: 400px;
        margin-left: 25%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo-container {
        position: relative;
        align-items: center;
    }

    #logo {
        position: absolute;
        top: 30px;
        width: 300px;
        margin-left: 38%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo-container {
        position: relative;
        align-items: center;
    }

    #logo {
        position: absolute;
        top: 30px;
        width: 500px;
        margin-left: 38%;
    }
}
