html {
    background-color: #990000;
    font-family: helvetica;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: block;
    margin: 0 auto;
}

.sidebar {
    position: fixed;
    height: 100%;
    top: 0;
    width: 100px;
    color: white;
    z-index: +1;
    font-size: 20px;
    background-color: #22262a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: lighter;
}


ul {
    list-style-type: none;
}


ul p {
    font-weight: 1000;
}




h1 {
    text-align: center;
    color: orange;
}

footer {
    padding: 10px 0 10px 0;
    background: #22262a;
    color: white;
    text-align: center;
}

h3 {
    font-size: 25px;
}

#pin {
    width: 30px;
}

#map {
    margin-bottom: 20px;
}

#tlf {
    width: 50px;
}

.kontakt {
    width: 75px;
    padding: 0 30px;
}


/* Slet @media hvis ikke bliver brugt */
/* husk 2 afslutninger {} inde i @media */
/* Extra small devices (phones, 600px and down) KUN HELT SPECIFIKT FOR MOBIL SOM IKKE KAN STÅ HEROVER */
@media only screen and (max-width: 599px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
